{
    "presets": ["@babel/preset-typescript",
      ["@babel/env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@/access/*": ["data_access/*"],
            "@/routers/*": ["routers/*"], 
            "@/models/*": ["models/*"],
            "@/*": ["/*"],
            "@/schema": ["src/schema"],
            "@/types": ["src/types"], 
            "@/config": ["src/config"]
        }
      }]
    ]
}